# SPDX-FileCopyrightText: Copyright (c) 2022 The ObjCrypto Project Authors 
# SPDX-License-Identifier: BSD-2-Clause

[submodule "contrib/doctest"]
	path = contrib/doctest
	url = https://github.com/doctest/doctest.git
    branch = main
[submodule "contrib/boringssl-crypto"]
	path = contrib/boringssl-crypto
	url = https://github.com/Quicr/boringssl-crypto.git
    branch = main
